body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Bypass flex 1 in mobile */
@media (max-width: 768px) {
    body {
        height: auto; /* Allow content to flow naturally */
        display: block; /* Disable flex layout */
    }

    .main_cont {
        flex: none; /* Remove flex-grow behavior */
    }
}

.oswald {
    font-family: "Oswald";
}

a {
    color: rgb(176, 238, 255);
}

button {
    border: 0;
    padding: 10px;
}

button:hover {
    background-color: rgb(190, 190, 190);
    transition: background-color 0.5s;
}

.header {
    width: 95%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.top_link {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    color: black;
    transition: color 0.5s;
}

.top_link:hover {
    color: gray;
}

/* Indicates the button for the current page */
.here {
    background-color: black;
    color: white;
}

.main_cont {
    display: flex;
    flex: 1;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.low_border {
    display: flex;
    border-bottom: 10px solid white;
    font-size: 64px;
    padding: 50px;
    text-align: center;
    justify-content: center;
    width: 60%;
}

.blue_box {
    background-color: rgb(66, 66, 125);
    color: white;
    padding: 20px;
    margin: 10px;
    width: 98%;
}

.gray_box {
    background-color: rgb(105, 100, 118);
    color: white;
    padding: 20px;
    margin: 10px;
    width: 98%;
}

.col_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.col_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row_center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    background-color: gainsboro;
    padding: 5px 5px;
    margin-top: 10px;
    width: 100%;
}

/* Members page stlying here */

.portrait_cont {
    max-width: 200px;
}

.portrait_row {
    width: 90vw;
    padding: 50px 0 50px;
    justify-content: space-around;
    border-top: 1px dotted;
}

.portrait {
    width: auto;
    height: 250px;
    padding: 0px 10px 0px;
}

.port_desc {
    text-align: center;
}

.name {
    margin: 10px 0px 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}